body {
  background-color: #eef1f4;
}

.isContentBgColor {
  background-color: #eef1f4;
}

.isErrorMessage {
  height: 1rem;
  margin: 0;
  padding-top: 0.25rem;
}

.isActiveNav {
  background-color: #eef1f4;
}
