body {
  background-color: #ffffff;
}

.content-bg-color {
  background-color: #eef1f4;
}

.isErrorMessage {
  height: 1rem;
  margin: 0;
}

.isActiveNav {
  background-color: #eef1f4;
}

// .bottom-shadow {
//   box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.5); /* Adjust values to your liking */
// }
